# general
/build*/
*.rej
*.orig
*.out
CMakeLists.txt.user*
/.clang-format
/.idea

# kate
*~
*-swp
.kateproject.build

# kdevelop
*.kdev4

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from dolphin
.directory

# LSP Server data
/.clangd
/.cmake/
/.cache/
/compile_commands.json
/cmake-build*
.vscode/
.flatpak/
.flatpak-builder/
/_build/

# PKGBUILD and makepkg artifacts
PKGBUILD
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
*.pkg.tar.bz2
*.pkg.tar.lzo
*.pkg.tar.lrz
*.pkg.tar.lz4
*.pkg.tar.Z
*.pkg.tar
*.pkg.tar.*.sig
*.src.tar.gz
*.src.tar.xz
*.src.tar.bz2
*.src.tar
.SRCINFO
*.log
.makepkg.log
/pkg/
/src/
